<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Changer le mot de passe</title>
        <div th:replace="adminFragments :: head_elements"></div>
        <meta charset="utf-8">
    </head>
    <body class="sb-nav-fixed">
    <div th:replace="adminFragments :: navbar"></div>
    <div id="layoutSidenav">
        <div th:replace="adminFragments :: layoutSidenav_nav"></div>
        <div id="layoutSidenav_content">
			<main>
				<div class="container">
				    <div th:if="${passwordUpdated}=='true'" style="width: 60%;margin-top: 5%;margin-left: 20%;"> <h1>Votre mot de passe a été bien changé</h1></div>
					<div th:if="${passwordUpdated}=='false'">
					
						<form th:action="@{/admin/password/update}" id="updatePwdForm" style="width: 60%;margin-top: 5%;margin-left: 20%;"
						onsubmit="event.preventDefault();cheakAdminCurrentPassword();"
							th:object="${passwordUpdateDto}" method="POST" class="row g-3">

							<div class="form-group" >
								<label>Mot de passe actuel</label> 
								<input type="password" id="currentPassword" class="form-control" min="8" maxlength="30" th:field="*{currentPassword}" required name="currentPassword">
								    <div id="incorrectPassword" class="invalid-feedback">
								       Mot de passe incorrect !!
								    </div>
							</div>
							<div class="form-group">
								<label>Nouveau mot de passe </label> 
								<input type="password" class="form-control" th:field="*{newPassword}" min="8" maxlength="30" id="newPassword" required name="newPassword" >
							</div>
							<div class="form-group">
								<label>Confirmer le nouveau mot de passe</label> 
								<input type="password" class="form-control" th:field="*{newPasswordConfirmation}" min="8" maxlength="30" id="newPasswordConfirmation" required name="newPasswordConfirmation">
								<div id="differentPasswords" class="invalid-feedback" style="display: none;" >
								       Les deux mots de passe ne sont pas identiques !!
								 </div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary" >Changer</button>
							</div>
						</form>
						
					</div>
				</div>
				
			</main>    
            <div th:replace="adminFragments :: footer"></div>
        </div>
    </div>
    <div th:replace="adminFragments :: javaScriptLinks"></div>
    </body>
</html>