<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ajouter un client</title>
        <div th:replace="supervisorFragments :: head_elements"></div>
            <meta charset="utf-8">
    </head>
    <body class="sb-nav-fixed">
    <div th:replace="supervisorFragments :: navbar"></div>
    <div id="layoutSidenav">
        <div th:replace="supervisorFragments :: layoutSidenav_nav"></div>
        <div id="layoutSidenav_content">
			<main>

				<div class="card container" style="margin-top: 3%; padding-bottom: 2%; width: 60%; margin-top: 5%; margin-left: 20%;">
					<form th:action="@{/clients/save}" th:object="${clientDto}" id="createClient" onsubmit="event.preventDefault();checkClientEmail();" method="POST" class="row g-3">
						
						<div class="form-group">
							<label class="form-label">Raison sociale</label> 
							<input type="text" th:field="*{socialReason}" name="socialReason" required min="2" maxlength="30" class="form-control" >
						</div>
						
						<div class="form-group">
							<label class="form-label">Email</label> 
							<input type="email" th:field="*{email}" id="email" name="email" max="120" min="10" required class="form-control" >
							<div id="emailExists" class="invalid-feedback" style="display: none;">
								 Email existe déjà !
							</div>
						</div>
						
						<div class="form-group">
							<label class="form-label">Téléphone</label> 
							<input type="tel" th:field="*{phoneNumber}" name="phoneNumbe" max="30" min="12" required class="form-control" >
						</div>
						
						<div class="form-group">
    <label class="form-label">Etat de compte</label> 
     <div class="form-check">
          <input type="radio" class="form-check-input" th:field="*{status}" value="ACTIVE" /><label class="form-check-label" >Actif </label>
      </div>
      <div class="form-check">
          <input type="radio" class="form-check-input" th:field="*{status}" value="BLOCKED" /><label class="form-check-label" >Bloqué</label>
      </div>
                        </div>
                        
						<div class="form-group">
							<label class="form-label">Email du collaborateur</label> 
							<select th:field="*{collaboratorEmail}" required class="form-select">
								<div th:each="collaboratorDto : ${collaboratorsDto}">
									<option th:text="${collaboratorDto.email}" th:value="${collaboratorDto.email}"></option>
								</div>
							</select>
							      <div  th:if="${collaboratorsDto.size()}==0" class="invalid-feedback">
							           Veuillez ajouter un collaborateur !
                                  </div>
						</div>
						<div class="form-group">
							<label class="form-label">Nom de projet</label>
							<input max="60" min="8" type="text" th:field="*{projectName}"  name="projectName" required class="form-control">
						</div>
			        <iv>
				<div class="box-footer">
					<button type="submit" th:class="${collaboratorsDto.size()}==0 ? 'btn btn-primary disabled' : 'btn btn-primary'" >Ajouter</button>
				</div>
				</form>
		</div>
		</main>   
            <div th:replace="supervisorFragments :: footer"></div>
        </div>
    </div>
    <div th:replace="supervisorFragments :: javaScriptLinks"></div>
    </body>
</html>