<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Modifier un client</title>
        <div th:replace="supervisorFragments :: head_elements"></div>
        <meta charset="utf-8">
    </head>
    <body class="sb-nav-fixed">
    <div th:replace="supervisorFragments :: navbar"></div>
    <div id="layoutSidenav">
        <div th:replace="supervisorFragments :: layoutSidenav_nav"></div>
        <div id="layoutSidenav_content">
			<main>
				<div class="card container" style="margin-top: 3%; padding-bottom: 2%;width: 60%;margin-top: 5%;margin-left: 20%;">
					<form th:action="@{/clients/update}" th:object="${clientDto}" method="POST" class="row g-3">
					
						<div class="form-group">
							<label class="form-label">Raison sociale</label> 
							<input type="text" required min="2" maxlength="30" th:field="*{socialReason}" name="raisonSocial" class="form-control">
						</div>
						
						<div class="form-group">
							<label class="form-label">Email</label> 
							<input type="email" th:field="*{email}" required min="10" maxlength="120" name="email" class="form-control">
						</div>
						<div class="form-group">
							<label class="form-label">Téléphone</label> 
							<input type="tel" required min="12" maxlength="30" th:field="*{phoneNumber}" name="phoneNumbe" class="form-control">
						</div>
    
    <div class="form-group">
    <label class="form-label">Etat de compte</label> 
     <div class="form-check">
          <input type="radio" class="form-check-input" th:field="*{status}" value="ACTIVE" /><label class="form-check-label" >Actif </label>
      </div>
      <div class="form-check">
          <input type="radio" class="form-check-input" th:field="*{status}" value="BLOCKED" /><label class="form-check-label" >Bloqué</label>
      </div>
    </div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Modifier</button>
				</div>
				</form>
		</div>
		</main>   
            <div th:replace="supervisorFragments :: footer"></div>
        </div>
    </div>
    <div th:replace="supervisorFragments :: javaScriptLinks"></div>
    </body>
</html>