<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KAY-GDR</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">KAY-GDR</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Accueil</a></li>
                    <li><a href="#about">À propos de nous</a></li>
                    <li><a href="#services">OFFRES</a></li>
                    <li><a href="login">S'identifier</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="carousel-background"><img src="static/img/intro-carousel/1.PNG" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="static/img/intro-carousel/3.PNG" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="static/img/intro-carousel/4.PNG" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="static/img/intro-carousel/6.PNG" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section>
    <!-- #intro -->

    <main id="main">

        <!--==========================

        <!-- #featured-services -->

        <!--==========================
      About Us Section
    ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>À PROPOS DE NOUS</h3>
                    <p>KAY TECHNOLOGY est une société informatique de conception, d’édition et de mise en place de logiciels métiers avec comme axe principal les outils de gestion d’entreprise.
Notre équipe met à votre service un large éventail de compétences dans les domaines suivants: Développement d’applications, intégration d’applications de gestion d’entreprise, mise en place et suivi d’infrastructures informatiques, sites internet, e-commerce et formation.

</p>
                </header>

                <div class="row about-cols">

                    <div class="col-md-6 wow fadeInUp" >
                        <div class="about-col">
                            <div class="img">
                                <img src="static/img/about-mission.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Notre mission</a></h2>
                            <p>
                                Notre mission est de fournir, à travers notre expertise, des solutions informatiques fiables et performantes qui apportent une réelle valeur ajoutée à nos clients.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="about-col">
                            <div class="img">
                                <img src="static/img/about-plan.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-list-outline"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Nos valeurs</a></h2>
                            <p>
                                KAY TECHNOLOGY exerce ses activités basé sur trois valeurs fondamentales : Compétence, Compétitivité et Confidentialité. La Compétence de nos équipes vous promet des livrables de qualité, la Compétitivité de nos offres vous assure le meilleur rapport qualité-prix et notre politique de Confidentialité vous garantit l’exécution de vos projets dans le secret professionnel le plus absolu.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- #about -->

        <!--==========================
      Services Section
    ============================-->
        <section id="services">
            <div class="container">

                <header class="section-header wow fadeInUp">
                    <h3>OFFRES</h3>
                    <p>Les solutions proposées par KAY TECHNOLOGY sont pensées pour répondre exactement aux besoins de nos clients et les aider à relever leurs défis pour les accompagner dans l’évolution de leur activité.</p>
                    <p>KAY TECHNOLOGY est organisé en cinq domaines :</p>
                </header>

                <div class="row">

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                        <h4 class="title">Intégration</h4>
                        <p class="description">Nous vous accompagnons et vous assistons lors de l’intégration de ces nouvelles solutions informatique (RH, TMS, Micro-Financ)</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                        <h4 class="title">Base de données</h4>
                        <p class="description"></p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                        <h4 class="title">Décisionnel</h4>
                        <p class="description">Services de Business Intelligence pour le développement de votre DataWarehouse et de vos flux ETL</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        <h4 class="title">Développement spécifiques (Web et mobile)</h4>
                        <p class="description">Développement Web et logiciels de solutions sur mesure, avec les technologies de votre choix (Java, PHP, etc.), répondant à vos spécifications</p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                        <h4 class="title">Formation</h4>
                        <p class="description"></p>
                    </div>

                </div>

            </div>
        </section>
        
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">

                <div class="section-header">
                    <h3>CONTACT</h3>
                    <p></p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Adresse</h3>
                            <address>45 RUE ABDELADER MOUFTAKAR ETG 2 APPT 4 20000 CASABLANCA</address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>TÉLÉPHONE</h3>
                            <p><a href="tel:+155895548855">+212698765423</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:info@example.com">kay.technologie.gdr@gmail.com</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- #contact -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-info">
                        <h3>KAY-GDR</h3>
                        <p>KAY TECHNOLOGY est une société informatique de conception, d’édition et de mise en place de logiciels métiers avec comme axe principal les outils de gestion d’entreprise.
Notre équipe met à votre service un large éventail de compétences dans les domaines suivants: Développement d’applications, intégration d’applications de gestion d’entreprise, mise en place et suivi d’infrastructures informatiques, sites internet, e-commerce et formation.</p>
                    </div>

                    <div class="col-lg-6 col-md-6 footer-info">
                        <h3>CONTACT</h3>
                        <p>
                            <strong>Adresse : </strong>45 RUE ABDELADER MOUFTAKAR ETG 2 APPT 4 20000 CASABLANCA<br>
                            <strong>Téléphone : </strong>+212698765423<br>
                            <strong>Email : </strong>kay.technologie.gdr@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="http://kaytechnology.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="credits">
                Designed by <a>Omar LATIFI</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="static/lib/jquery/jquery.min.js"></script>
    <script src="static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/superfish/hoverIntent.js"></script>
    <script src="static/lib/superfish/superfish.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/counterup/counterup.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="static/lib/lightbox/js/lightbox.min.js"></script>
    <script src="static/static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="static/contactform/contactform.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>